html, body {
  height: 100%;
  width: 100%;
      

}

.button{
  padding: 31px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
  font-size: 20px;
}

.row{
  margin: 8px 0;
}

.row input{
  font-size: 24px;
  margin: 0;
  padding: 20px 15px;
  border: 2px solid black;
  border-radius: 5px;
}

.row1{
  display:grid;
  grid-template-columns:2.8fr 1fr;
  
}

 
